* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}

.blue{
  color: blue !important;
}

.icons-group :hover {
  cursor: pointer;
}
